<div class="row top-menu">
	<div class="col-md-2">		
	</div>
	<div class="col-md-4">
		<a href="{{url_for('home')}}">
			<span id='catApp'>
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			Catalog App</span>
		</a>
	</div>
	<div class="col-md-4 text-right">
		{% if 'username' not in session %}
		<a href={{url_for('login')}}><button class='btn' id='login'>Login</button></a>
		{% else %}
		<a href={{url_for('discon')}}><button class='btn' id='login'>Logout</button></a>
		{% endif %}
	</div>
</div>