{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="col-md-2">		
</div>
<aside class="col-md-3">
	<div>
		<h2>Categories</h2>
	</div>
{% for cat in cats %}
	<div class="row">
		<p>
			<a href = "{{url_for('cat', cat_name=cat.name, cat_id=cat.id)}}">
				{{cat.name}}
			</a>
		</p>
	</div>
{% endfor %}
</aside>

<div class="col-md-6">
	<div class='row'><p id='addItem'>
		<a href="{{url_for('add')}}"><span>Add Item</span></a></p></div>
	<div>
		<h2>Latest Items</h2>
	</div>
{% for item, cat in items %}
<div class="row">
	<p>
		<a href = "{{url_for('item', cat_name=cat.name, item_name=item.name, item_id=item.id)}}">
			<span>{{item.name}}</span>
			<span class="cat-note">({{cat.name}})</span>	
		</a>
	</p>				
</div>

{% endfor %}	
</div>
{% endblock %}
